/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.col{
    width: 100%;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
}

/* HEADER */
header{
    height:80px;
    color: white;
    align-items: center;
}

.nav-bar{
    align-items: center;
}

.nav-desktop{
    display: none;
}

header a{
    color: white;
}

/* MAIN */

main{
    background-color: rgba(0, 0, 255, 0.301);
}


#demo .col{
    background-color: rgba(128, 0, 128, 0.299);
    border: 1px solid #000;
    
}

/* SECTION 2 */
#planning img{
    width: 100%;
    object-fit: cover;
}

.col-right{
    background-color: white;
}

/* RESPONSIVE */

#demo .col p{
    line-height: 25px;
}

@media screen and (min-width: 380px){
    #demo .row{
        width: 100%;
    }
}


@media screen and (min-width: 680px){
    #demo .row{
        display: flex;
        flex-wrap: wrap;
    }

    #demo .mini-row-1{
        display: flex;
    }

    #demo .mini-row-1 .col:first-child{
        width: 70%;
    }

    #demo .mini-row-1 .col:last-child{
        width: 30%;
    }

    #demo .mini-row-2{
        display: flex;
    }

    #demo .mini-row-2 .col{
        width: calc(100% * 3);
    }

    #planning .row{
        width: 100%;
    }
}

@media screen and (min-width:1140px){

    .container{
        width: 70%;
    }

    .nav-desktop{
        display: block;
    }

    .nav-mobile{
        display: none;
    }

    #planning .row{
        display: flex;
    }

    
}