/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
}

/* HEADER */
header{
    height:80px;
    color: white;
    align-items: center;
}

.nav-bar{
    align-items: center;
}

.nav-desktop{
    display: none;
}

header a{
    color: white;
}

/* MAIN */

main{
    height:1000px;
    background-color: rgba(0, 0, 255, 0.301);
}

#demo .col{
    background-color: rgba(128, 0, 128, 0.299);
    border: 1px solid #000;
    width: 100%;
}

#demo .col p{
    line-height: 25px;
}

@media screen and (min-width: 780px){
    .nav-desktop{
        display: block;
    }

    .nav-mobile{
        display: none;
    }
}
