/* UTILITIES */

.debug{
    background-color: rgba(255, 0, 0, 0.299);
    border: 1px solid #000;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

.flex-dir-col{
    flex-direction: column;
}

.text-al-c{
    text-align: center;
}

.space-bet{
    justify-content: space-between;
}

/* PADDING */
.pr-15{
    padding-right: 15px;
}

.pb-20{
    padding-bottom: 20px;
}

.pb-30{
    padding-bottom: 30px;
}

.py-20{
    padding: 20px 0;
}

.py-30{
    padding: 30px 0;
}

.px-50{
    padding: 0 50px;
}

/* MARGIN */
.mb-20{
    margin-bottom: 20px;
}